#header-nav{
	background-color: #F4F3F2;
	border-bottom: 1px;
	border-radius: 0;
	border: 1px solid #C8C5C2;
	margin-bottom: 5px;
	width: 100%;
}
.container{
	padding: 0;
	margin:0px;
}
body{
	background-color: white;
}
.navbar > .container .navbar-brand,h1{
	box-sizing: border-box;
	font-weight: bold;
	text-transform: uppercase;
	margin-left: 40px;
	height: 60px;
	font-size: 30px;
	margin-top: 15px;
	margin-left: 15px;
}
.navbar-header{
	width:100%;
}
#nav-button{
	margin-right: 40px;
	margin-top: 20px;
	height: 40px;
	background-color: #9CBDDA;
	border: 1px solid black;
}
#nav-button hover{
	text-shadow: 2px;
}

#nav-list{
	box-sizing: border-box;
	margin: 0;
	padding: 0px;
	text-align: center;
	background-color: #F9F9F9;
}
li{	
	font-size: 15px;
	padding:5px;
	height: 30px;
	border: 1px solid black;
}
#collapsed_menu{
	background-color: red;
}

/******CONTENT STARTS HERE*********/
.box{
	border: 1px solid black;
	height: 1000px;
	margin-top:10px;
}
#content-header{
	margin-top: 10px;
	margin-bottom: 20px;
}
.section-heading{
	font-size: 20px;
	font-weight: bold;
}
#content{
	box-sizing: border-box;
	width: 100%;	
}
.row{
	width: 100%;
	margin:0px;
}
.section-content{
	margin: 10px;
}
#section1{
	background-color: #DE645F;
}
#section2{
	background-color: #FFB266;
}
#section3{
	background-color: #99FF99;
}
