*{
	margin: 0px;
	padding: 0px;
}
body{
	background-color: #F4F3F2;
}
h1{
	text-align: center;
}
.header{
	width: 100%;
	height: 40px;
	float: left;
}
header{
 box-sizing: border-box;
 padding: 5px;
 border: 1px solid black;
 text-align: center;
 position: relative;
 width:  80px;
 left: calc(100% - 80px);
}
#h1{
	background-color: #FF9500;

}
#h2{
	color:white;
	background-color: #D84843;
}
#h3{
	background-color:#FCD000;
}
section{
	border:1px solid black;
	margin:5px;
}
.section{
	float: left;
}

p{
	background-color: #FFFFFF;
	padding: 10px;
}
@media(max-width: 767px){
.section{
	clear:both;
	width: 100%;

}

}

@media (min-width: 992px){
.section{
	width: 33.33%;
}
}

@media (max-width: 992px) and (min-width: 768px){
.section{
	width:50%;
}
#l3{
	width:100%;
}

}

